.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  background-color: #bbada0;
  padding: 10px;
  border-radius: 6px;
  width:fit-content
}

body {
  display: flex;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #cdc1b4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 4px;
}

.cell-2 { background: #eee4da; color: #776e65; }
.cell-4 { background: #ede0c8; color: #776e65; }
.cell-8 { background: #f2b179; color: white; }
.cell-16 { background: #f2b179; color: white; }
.cell-32 { background: #f2b179; color: white; }
.cell-64 { background: #f2b179; color: white; }
.cell-128 { background: #f2b179; color: white; }
.cell-256 { background: #f2b179; color: white; }
.cell-512 { background: #f2b179; color: white; }
.cell-1024 { background: #f2b179; color: white; }
.cell-2048 { background: #f2b179; color: white; }